.dashboardContainer {
  display: flex;
  flex-direction: row;
}

.dashboardContent {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 1rem;
}

.dashboardPreview {
  width: 50%;
}
